<%= search_form_for @search , :url => stations_path do |f| %>
<table>
	<tr>
		<td>Station Name :</td>
		<td><%= f.text_field :name_cont %></td>
	</tr>
	<tr>
		<td><%= f.submit %></td>
	</tr>
</table>
<% end %>