
<%#= form_tag standard_project_estimation_estimations_path ,:method =>"get" do %>

<!-- <table class="table">
	<thead>
	<tr>
		<th><%#= check_box_tag 'checkall', :id =>"checkall" %></th>
		<th><%#= submit_tag "Submit Station" , :class=>"btn" %></th>
		<th>No</th>
		<th>Name</th>
	</tr>
	</thead>
	
	<tbody>
		<%# list_standard_stations.stations.each_with_index do |station , index| %>
		<tr>
			<td></td>
			<td><%#= check_box_tag 'station_ids[]', station.id %></td>
			<td><%#= index + 1 %></td>
			<td><%#= station.name %></td>
		</tr>
	</tbody>
	<%# end %> <!-- form tag each do -->
	
</table> -->
	<%#= submit_tag "Submit Station" , :class=>"button" %>

<%# end %> <!-- form tag end -->

// <script type="text/javascript">

// $(document).ready(function () { 

// 	$('#checkall:checkbox').onchange(function () {
//         if($(this).attr("checked")) 
//         	$('input:checkbox').attr('checked','checked');
//         else 
//         	$('input:checkbox').removeAttr('checked');
//     });

// });

// </script>
