<p id="notice"><%= notice %></p>

<p>
  <strong>Estimation:</strong>
  <%= @history_file_delete.estimation_id %>
</p>

<%= link_to 'Edit', edit_history_file_delete_path(@history_file_delete) %> |
<%= link_to 'Back', history_file_deletes_path %>
