<!-- <div id="ims_report_2">
  <table class="normal_table_black zebraLight">
        <thead>
          <tr class="header_line">
            <th class="check_highlight"></th>
            <th width="150">MODULE</th>
            <th width="200">SUB-MODULE</th>
            <th width="50">SHOW</th>
            <th width="50">PRINT PDF</th>
            <th width="50">EXPORT EXCEL</th>
          </tr>
          <tr style="background-color: black;"><td colspan="100"></td></tr>
        </thead>

    <tbody>
      <td><%= render "/inventory_management_systems/ims_so_report", :checkboxes => @checkboxes %></td>
      <tr style="background-color: black;"><td colspan="100"></td></tr>
      <td><%= render "/inventory_management_systems/ims_do_invoice_report", :checkboxes => @checkboxes %></td>
      <tr style="background-color: black;"><td colspan="100"></td></tr>
      <td><%= render "/inventory_management_systems/ims_listing_report", :checkboxes => @checkboxes %></td>
    </tbody>
  </table>
</div> -->