<div id="ims_custom">
  <table class="normal_table_black zebraLight">
    <thead>
      <tr class="header_line">
        <th class="check_highlight"></th>
        <th width="180">MODULE</th>
        <th width="300">SUB-MODULE</th>
        <th width="50">Add</th>
        <th width="50">Show</th>
        <th width="50">Edit</th>       
        <th width="50">Printer</th>      
        
      </tr>
      <tr style="background-color: black;"><td colspan="100"></td></tr>
    </thead>

    <tbody>
      <%= render "/inventory_management_system/ims_product_list", :checkboxes => @checkboxes %>
      <!-- <tr style="background-color: black;"><td colspan="100"></td></tr> -->
      <%#= render "/inventory_management_systems/ims_formulation_for_all", :checkboxes => @checkboxes %>
      <!-- <tr style="background-color: black;"><td colspan="100"></td></tr> -->
      <%#= render "/inventory_management_systems/ims_formulation_for_costing", :checkboxes => @checkboxes %>
    </tbody>
  </table>
</div>
<div class="form-actions">
    <%#= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
</div>

