<%#= title_head "NEW USER" %>

<%= form_tag new_user_users_path do %>
  <div id="valid_user_form">
    <div id="user_strip">
      <ul>
        <li class="k-state-active">User Account</li>
        <li>IMS - 1</li>
        
        
      </ul>
      <div><%= render "management_account" %></div>
      
      
      <span style="position: absolute; padding: 5px;">*IMS = Inventory Management System</span>
    </div>
  </div>
  
<% end %>

<%#= render "js_user" %>