<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

<table>
  <div class="field">
    <%= f.input :name %>
  </div>
</table>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
