<!-- <%#- model_class = Client -%>
<div class="page-header">
  <h1><%#=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div> -->
<h3><u>New Client</u></h3>
<%= render :partial => 'form' %>
