<h1>Home</h1>
<!-- <p>
username: <%= current_user.username %> <br>

</p> -->

<!-- <p>
<%# if user_signed_in? %>
	Yes, signed in
<%# else %>
	No, not signed in
<%# end %>
</p> -->
<% if current_user.admin? %>
	
	<%= link_to "Add user", new_user_users_path %><br />
	<%= link_to 'Listing User', users_path %>
<% else %>
	No, not admin
<% end %>

