
<%#= render :text => params[:id].to_json %>
<%#= simple_form_for @project, :html => { :class => 'form-horizontal' } do |f| %>


 
<h3>Project - Station</h3>

<table>
	<tr>
		<td>Project Name :</td>
		<td style="align:right;"><u><%= @standard_project.name %></u></td>
	</tr>
	<tr>
		<td>Project Code :</td>
		<td style="align:right;"><u><%= @standard_project.project_code %></u></td>
	</tr>
</table>
<hr>




<h3>Non-standard Project - Station</h3>
<% if @standard_project.present? %>

	<%= render "project_station" %>

<% else %>

<h3>No Station </h3>

<% end %>

<%# end %>  <!-- end of simple form  -->


<script type="text/javascript">

$(document).ready(function (){

	$('#checkbox').change(function () {
		//console.log("Working here??");
		//alert("abc");
        if($('#checkbox:checkbox').attr("checked")) 
        	alert("testing")
        	//$('#check_box_#{station.id}').attr('checked','checked');
        else 
        	$('#check_box_#{station.id}').removeAttr('checked');
   	});


});	


</script>


