
<%#= render :text => params[:id].to_json %>
<%#= simple_form_for @project, :html => { :class => 'form-horizontal' } do |f| %>


 
<h3>Project - Station</h3>

<table>
	<tr>
		<td>Project Name :</td>
		<td style="align:right;"><%= @standard_project.name %></td>
	</tr>
	<tr>
		<td>Project Code :</td>
		<td style="align:right;"><%= @standard_project.project_code %></td>
	</tr>
</table>
<hr>
<h3>Non-standard Project - Station</h3>
<% if @standard_project.present? %>

	<%= render "project_station" %>

<% else %>

<h3>No Station </h3>

<% end %>

<%# end %>  <!-- end of simple form  -->


<script type="text/javascript">

$(document).ready(function () { 


	if("#standard_station_id").checked){
		alert("testing");
	}


	$("#standard_station_id input:checkbox").change(function(sel){
		
		var station_id = $(this).attr("sta_name");

		var station_name = $("#standard_station_name_" + station_id ).text();

		$("#standard_name_field").val(station_name);

	});



});

</script>

