<table>
      <tr>
        <td>Reference : </td>
        <td><%= @price_control.reference %></td>
      </tr>

      <tr>
        <td style="align:right;">Date : </td>
        <td><%= @price_control.pp_date %></td>
      </tr>
</table>