<table>
      <tr>
        <td>Reference : </td>
        <td><u><%= @price_control.reference %></u></td>
      </tr>

      <tr>
        <td style="align:right;">Date : </td>
        <td><u><%= @price_control.pp_date %></u></td>
      </tr>
</table>