
<h3>Add Fitting Material Group Price</h3>
	
<div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Fitting Material List</a></li>
        <li><a href="#tab2" data-toggle="tab">Search</a></li>
      </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><%= render "add_fitting_group_price" %></p>
    </div>
    <div class="tab-pane" id="tab2">
      <p><%= render "search_add_fitting_group_price" %></p>
    </div>
   </div>
</div>

