
<h3><u>Add Raw Material Group Price</u></h3>

<div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Raw Material List</a></li>
        <li><a href="#tab2" data-toggle="tab">Search</a></li>
      </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render "add_raw_group_price" %>
    </div>
    <div class="tab-pane" id="tab2">
      <p><%= render "search_add_raw_group_price" %></p>
    </div>
   </div>
</div>


