<br><br><br>

<h3><u>Raw Material Price Control Item</u></h3>

<%= render 'raw_material_form' %>
<hr>
<br></br>

<h3><u>Fitting Material Price Control Item</u></h3>

<%= render "fitting_material_form" %>
