<table style="width:100%;">
  <% estimation = @info_estimation_items %>
  <tr>
    <td>Client :       <u><%#= estimation.client.name %></u></td>
    <td>Drawing No:    </td>
  </tr>
  <tr>
    <td>Title :         <u><%= estimation.title rescue'-' %></u></td>
    <td>Date :          <u><%= estimation.date rescue'-' %></u></td>
  </tr>

  <tr>
    <td>Dimension :     <u><%= estimation.dimension rescue'-' %></u></td>
    <td id="total_weight"></td>
  </tr>
  <%# end %>
</table>

<!-- 
<script type="text/javascript">


  
</script> -->