<%= search_form_for @search, :url => new_estimation_item_path do |f| %> 
<table class="table table-bordered">
	<tr>
		<td>* Material Code = Name - Thk - H - W - WT *</td>
		<td></td>
	</tr>
	<tr>
		<td>Material Code :</td>
		<td><%= f.text_field :material_code_cont , "data-autocomplete" => autocomplete_material_material_code_estimation_items_path, :class => "input-large search-query", :placeholder => "Material Code", :size => 9 %></td>
			<%= hidden_field_tag :estimation_id ,"estimation_id" , :value => params[:estimation_id] %>
	</tr>
</table>

<%= f.submit "Search", :class => "btn" %>
<% end %>
