<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Raw Materials</a></li>
    <li><a href="#tab2" data-toggle="tab">Fitting Materials</a></li>
    <li><a href="#tab3" data-toggle="tab">Raw Materials Search</a></li>
    <li><a href="#tab4" data-toggle="tab">Fitting Materials Search</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><%= render "input_estimation_raw_material_table" %></p>
    </div>
    <div class="tab-pane" id="tab2">
      <p><%= render "input_estimation_fitting_material_table" %></p>
    </div>
    <div class="tab-pane" id="tab3">
      <p><%= render "search_raw_material" %></p>
    </div>
    <div class="tab-pane" id="tab4">
      <p><%= render "search_fitting_material" %></p>
    </div>
  </div>
</div>