<h3>Project => Station => Estimation => <u>Estimation Items</u></h3>
  <%#= render :text => params[:estimation_id].to_json %>

<!-- <div style="flaot:left;"> -->
<%= render "detail_estimation_item"  %>

<%= render "remark_table_estimation" %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">No.</th>
      <th rowspan="2">Part Detail</th>
      <th rowspan="2">Material</th>
      <th colspan="4" align="center">Dimension(mm)</th>
      <th colspan="1">WT</th>
      <th rowspan="2">Qty</th>
      <th rowspan="2">UOM</th>
      <th rowspan="1">Weight</th>
      <th rowspan="2" width="50">Unit Price</th>
      <th rowspan="2">Total</th>
      <!-- <th rowspan="2">Remarks</th> -->
      <th rowspan="2">Action</th>
    </tr>
    <tr>
      <th align="center">Thk/Dia.</th>
      <th align="center">H</th>
      <th align="center">W</th>
      <th align="center">L</th>
      <th align="center">Ibs/Ft<sup>2</sup></th>
      <th align="center">Ib / KG</th>
    </tr>
  </thead>
  
  <%# estimation = params[:estimation] %>
  <tbody>
   
     <%= render "detail_estimation_item_body" %>
    
  </tbody>
</table>

<%= link_to "Back" , :back , :class=>"btn" %>
<br>
