/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  
  font-family: 'Arvo', serif;
  font-size: 14px;
  color: #000000;

}

body#first-layout {
  background-image: url('/images/background2.jpg');
  background-repeat: repeat;
}

/*  ========================login box ======================================*/
#login-box {
    width: 400px;
    height: 300px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background-image: url('/images/login-box-backg.png');
    background-repeat: no-repeat;
    position: absolute; top: 20%; left: 32%;
}

#login-box2 {
    width:400px;
    height: 300px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background-image: url('/images/login-box-backg.png');
    background-repeat: no-repeat;
}



#login-box img {
    border:none;
}

#login-box h1 {
    padding:0;
    margin:0;
    color: #8B0000;
    font: bold 44px "Calibri", Arial;
}
#login-box h2 {
    padding:0;
    margin:0;
    color: #00FF00;
    font: bold 44px "Calibri", Arial;
}
#login-box h3 {
    padding:0;
    margin:0;
    color: #87CEEB;
    font: bold 44px "Calibri", Arial;
}
#login-box h4 {
    padding:0;
    margin:0;
    color: #A9CD32;
    font: bold 44px "Calibri", Arial;
}
#login-box h5 {
    padding:0;
    margin:0;
    color: #8B0000;
    font: bold 44px "Calibri", Arial;
}


#login-box-name {
    float: left;
    display:inline;
    width:80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
}

#login-box-field {
    float: left;
    display:inline;
    width:230px;
    margin:0;
    margin:0 0 7px 0;
}


.form-login  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}


.login-box-options  {
    clear:both;
    padding-left:87px;
    font-size: 11px;
}

.login-box-options a {
    color: #ebebeb;
    font-size: 11px;
}

/*  ======================== end of login box ======================================*/


#main_footer {
   position: fixed; left:0px; bottom:0px; 
   width:100%; 
   padding: 5px; font-family: Tahoma, arial, helvetica, sans-serif; font-size: 12px; color:blue;
   background-color: #A6DEFF;
   background: #A6DEFF -webkit-gradient(linear, left top, left bottom, from(#288CC8), to(#A6DEFF)) no-repeat;
   background: #A6DEFF -moz-linear-gradient(top, #288CC8, #A6DEFF) no-repeat;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#288CC8, endColorstr=#A6DEFF) no-repeat;
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#288CC8, endColorstr=#288CC8)" no-repeat;
}