

<table class="table table-bordered">
	<tr>
		<th>Weight Fomular Category</th>
		<th>Weight Fomular</th>
		<th>Fomular Category</th>
		<th>Price Fomular</th>
	</tr>

	<tr>
		<td align="center">1</td>
		<td align="center">1</td>
		<td>Weight x Price</td>
		<td>(W/304.8) x (L/304.8) x WT x QTY</td>
	</tr>

	<tr>
		<td>2</td>
		<td>1</td>
		<td>Weight x Price</td>
		<td>(L/1000) x WT x QTY x 2.20459</td>
	</tr>

	<tr>
		<td>2-Pipe</td>
		<td>2</td>
		<td>(L/6000) x QTY x Price</td>
		<td>(L/1000) x WT x QTY x 2.20459</td>
	</tr>

	<tr>
		<td>3</td>
		<td>1</td>
		<td>Weight x Price</td>
		<td>(L/304.8) x QTY x WT</td>
	</tr>

	<tr>
		<td>4</td>
		<td>1</td>
		<td>Weight x Price</td>
		<td>(W/1000) x (L/1000) x WT x QTY x 2.20459</td>
	</tr>

	<tr>
		<td>5</td>
		<td>1</td>
		<td>Weight x Price</td>
		<td>(((W/1000) x (L/1000))/2.9768) x WT x QTY x 2.20459</td>
	</tr>

	<tr>
		<td>6</td>
		<td>1</td>
		<td>QTY x Price</td>
		<td>No Fomular</td>
	</tr>


</table>