<div class="page-header">
<h2>Existing Non-Standard(Project Name) - (Station Name) - Add Estimation</h2>
</div>

<label>Estimation Name:</label>
<select data-placeholder="Choose an Estimation..." style="width:350px;" class="chosen-select">
<option>Estimation 1</option>
<option>Estimation 2</option>
<option>Estimation 3</option>
<option>Estimation 4</option>
<option>Estimation 5</option>
</select>

