	<tr>
		<th width="100" rowspan="2"><p class="text-center">No</p></th>
		<th width="100" rowspan="2"><p class="text-center">Part/MatCode</p></th>
		<th width="100" rowspan="2"><p class="text-center">Material</p></th>
		<th width="100" colspan="4"><p class="text-center">Dimension(mm)</p></th>
		<th width="100" rowspan="2"><p class="text-center">WT<br>lbs/Ft²</p></th>
		<th width="50" rowspan="2"><p class="text-center">Qty</p></th>
		<th width="50" rowspan="2"><p class="text-center">UOM</p></th>
		<th width="50" rowspan="2"><p class="text-center">Weight<br>lb/kg</p></th>
		<th width="100" rowspan="2"><p class="text-center">Unit<br>Price</p></th>
		<th width="100" rowspan="2"><p class="text-center">Total</p></th>
		<th width="250" rowspan="2"><p class="text-center">Remarks</p></th>
	</tr>

	<tr>
		<th><p class="text-center"> Thk/Dia. </p></th>
		<th><p class="text-center"> H </p></th>
		<th><p class="text-center"> W </p></th>
		<th><p class="text-center"> L </p></th>
	</tr>