
<table>
  <tbody>
    <div id="content">
      <div style="page-break-before: always;">
        <div style="float:left;width:200px;">
          DESCRIPTION 1
        </div>

        <div style="float:left;">
          PIE CHART IMAGE 1
        </div>        
      </div>

      <div style="page-break-before: always;">
        <div style="float:left;width:200px;">
          DESCRIPTION 2
        </div>

        <div style="page-break-before: always;">
          PIE CHART IMAGE 2
        </div>        
      </div>

      <div style="page-break-before: always;">
        <div style="float:left;width:200px;">
          DESCRIPTION 3
        </div>

        <div style="float:left;">
          PIE CHART IMAGE 3
        </div>        
      </div>

    </div>
  </tbody>
</table

<style type="text/css">
  
  .page-break { 
    display:block;
    clear:both;
    page-break-after:always; }

</style>
