
<h3>Excel File</h3>
<%#= form_tag @profile, {:action => "save_file"} do %>
<%= form_tag("/spreadsheets/save_price_control_file", method: "post") do %>
<table class="table table-border">
	<thead>
		<tr>
			<th>No</th>
			<th>Id</th>
			<th>Name</th>
		</tr>
	</thead>
	
	<tbody>
		<% @sheet2.each_with_index do |row, index | %>
		<tr>
			<td><%= a = index + 1 %></td>
			<td><%#= check_box_tag "row[#{a}][]" %></td>
			<td><%= text_field_tag "row[#{a}][new_unit_price]", '', :value => row[1].to_f %></td>
		</tr>
		<% end %> <!-- end of each -->
	</tbody>
	

		


</table>
<%= submit_tag "import excel" , :class => "btn" %>

<% end %>   <!-- end of form for -->